@import './common.css';

#guessWord Button, #input Button {
    -fx-padding : 10px;
    -fx-font-size : 20px;
}

#meaning{
    -fx-font-weight : bold;
    -fx-background-color: -fx-blue-2;
    -fx-text-fill: -fx-white-2;
    -fx-background-radius: 20px;
}

TableView {
    -fx-background-color: -fx-blue-2;
}

TableView .column-header {
    -fx-background-color: -fx-blue-2;
}

TableView .table-cell:even{
    -fx-background-color : -fx-green-1;
}

TableView .table-cell:odd{
    -fx-background-color : -fx-white-2;
}

TableView .table-cell:hover {
    -fx-background-color : -fx-blue-1;
    -fx-text-fill : -fx-white-2;
}