Button:hover {
    -fx-background-color : gray;
    -fx-text-fill : white;
}

WebView {
    -fx-border-radius : 10;
    -fx-border-width : 2px;
    -fx-border-color : black;
}

ListView {

}

.container {
    display: grid;
    align-items: center;
    text-align: center;
    height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently\n" +
                                  supported by Chrome, Edge, Opera and Firefox */
}