@import "common.css";
Button{
    -fx-cursor : hand;
    -fx-font-weight : bold;
    -fx-text-fill: -fx-white-2;
    -fx-background-color: -fx-blue-2;
    -fx-background-radius: 20px;
}

Button:hover{
    -fx-text-fill: black;
}

#quesLabel{
    -fx-font-weight : bold;
    -fx-background-color: -fx-blue-2;
    -fx-text-fill: -fx-white-2;
    -fx-background-radius: 20px;
}

#scoreBoard{
    -fx-background-color: -fx-blue-2;
    -fx-text-fill: -fx-white-2;
}